/* --- HEADER --- */
header {
  background-color: #003A70;
}
header h1 {
  color:#FFCB05;
  padding: 1rem 0 0 2%;
  font-size: 2rem;
  font-family: "Pokemon";
}


* {
    margin: 0;
    box-sizing: border-box;
}

.pokemonGrid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.scene {
    width: 200px;
    height: 260px;
    border: 1px solid #CCC;
    margin: 10px;
    perspective: 600px;
  }

  .card {
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: absolute;
    border-radius: 8px;
    /* overflow: hidden; If things are too big for container hides it*/
    /* backface-visibility: hidden; */
    /* transform: rotateY(180deg); */

  }

  .card__face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    
  }

  .card__face--front {
    background: #d6b01e;
    background-image: url(/images/pokemon/frontofpokemoncard.png);
    background-repeat: no-repeat;
    background-size: 200px, 260px;
    
    font-family: pokemon;
    color: #eee;
    
    /* filter: opacity(0%); */
    /* transform: rotateY(180deg); */

    /* backface-visibility: hidden; */
  }

  .card__face--front img {
    width: 100%;
  }
  
  .card__face--back {
    /* backface-visibility: hidden; */
    background-image: url(/images/pokemon/yugiohback.jpg);
    background-repeat: no-repeat;
    background-size: 200px, 260px;
    font-family: pokemon;
    color: #eee;
    transform: rotateY(180deg);
    background-color: #3D7DCA;
  }

  .card.is-flipped {
    transform: rotateY(180deg);
  }

