:root {
    margin: 0;
    box-sizing: border-box;
}

html {
  height: 100%;
}

.container {
    display: flex;
    margin-left: 0;
    font-family: 'Times New Roman', Times, serif;
}

.main {
    margin: 8rem 5rem 0 10rem;
}

img {
    position: relative;
    z-index: 1000;
}

header {
    height: 200px;
    background-color: black;
    background-image: url(/images/starwarslogo.png);
    background-position: center;
    background-size: 450px;
    background-repeat: no-repeat;
}

/* --- NAVIGATION --- */

nav {
    border-top: solid 1px #000;
    border-bottom: solid 1px #000;
    
  }

.menu {
  display: flex;
}

  nav ul.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  nav ul.menu li {

  }

  nav ul.menu li a {
    display: flexbox;
    padding: .5rem 1.5rem;
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
    color: yellow;
    background-color: black;
    text-decoration: none;
    border-right: solid 1px yellow;
  
  }

  nav ul.menu li a:hover {
    background-color: yellow;
    color: #000;
  }


  /* ul.menu li.active {
    background-color: ;
  } */


footer {
    display: flex;
    justify-content: center;
    font-size: 1.75rem;
    color: yellow;
}

a {
    text-decoration: none;
    font-size: 1.5rem;
}

li {
    list-style-type: none;
    color: yellow;
}